.root {
    @apply bg-[#202329] px-[20px] py-[65px] h-full flex flex-col;
    height: 100dvh;
    overflow-y: auto;
    &__list {
        @apply flex flex-col gap-y-[15px];
        flex: 1 1 auto;
    }
    &__typing {
        @apply text-[#6c6f75] text-center mt-[5px];
        span {
            @apply text-[20px];
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #474b53;
        border-radius: 20px;
    }
}
