.root {
	@apply bg-[#202329] flex flex-col p-[20px];
	height: calc(100dvh - 41px - 52px);
	overflow-y: auto;
	&__list {
		@apply flex flex-col gap-y-[6px];
		flex: 1 1 auto;
	}
	&__typing {
		@apply text-[#6c6f75] text-center mt-[5px] opacity-0;
		span {
			@apply text-[20px];
		}
		&_visible {
			@apply overflow-visible opacity-100;
		}
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #474b53;
		border-radius: 20px;
	}
}
