.root {
	@apply bg-[#202329] flex flex-col p-[20px];
	height: calc(100dvh - 40px - 52px);
	overflow-y: auto;
	@media (max-width: 580px) {
		height: calc(100dvh - 40px - 56px);
	}
	&__list {
		@apply flex flex-col gap-y-[15px];
		flex: 1 1 auto;
	}
	&__typing {
		@apply text-[#6c6f75] text-center mt-[5px];
		span {
			@apply text-[20px];
		}
	}
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #474b53;
		border-radius: 20px;
	}
}
