{
    "arrowParens": "always",
    "semi": true,
    "tabWidth": 2,
    "useTabs": true,
    "printWidth": 80,
    "trailingComma": "none",
    "singleQuote": false,
    "jsxSingleQuote": false,
    "bracketSpacing": true,
    "bracketSameLine": true,
    "singleAttributePerLine": true
}